<?xml version="1.0"?>
<robot name="teraranger_evo" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find teraranger_description)/urdf/teraranger_evo.urdf.xacro"/>

    <link name="base_link" />

    <gazebo reference="base_link">
        <material>Gazebo/Yellow</material>
        <turnGravityOff>1</turnGravityOff>
    </gazebo>

    <xacro:teraranger_evo multi_hub="0" hub_id='0' id="0" x="0" y="0" z="0" roll="0" pitch="0" yaw="0" gaussian_noise="0" parent="base_link"/>

</robot>
